html {
  background: url(images/forest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  font-size: 16px;
  font-family: "Open Sans";
  margin: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

/* Header Styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: "12px 0";
  height: 7vh;
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
  z-index: 2;
}

header > h1 {
  margin: 0;
}

/* Main Styling */

.grid-img {
  width: 100%;
  height: 100%;
  border: 1 px solid black;
  border-radius: 16px;
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
}

.grid-title {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.grid-text {
  color: white;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.signup {
  width: 150px;
  height: 40px;
  background-color: black;
  text-align: center;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  width: 155px;
  height: 45px;
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
}

.main {
  position: relative;
  top: 9vh;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 16px;
  border: 2px solid black;
  min-width: 600px;
  max-width: 1200px;
  width: 90%;
  height: 85vh;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(12, 1fr);
  margin: 0 auto;
  overflow: auto;
}

/*Upcoming Activites */

.upcoming {
  grid-area: 1 / 1 / span 1 / span 5;
}

/* Kayak */

 .kayak-img {
  grid-area: 2 / 2 / 8 / 7;
  background-image: url("./images/riverKayak.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
}

.kayak-title {
  grid-area: 2 / 7 / span 1 / span 3;
  align-self: end;
}

.kayak-date {
  grid-area: 3 / 7 / span 1 / span 3;
}

.kayak-desc {
  max-width: 400px;
  grid-area: 4 / 8 / span 1 / -1;
}

.kayak-button {
  align-self: start;
  justify-self: start;
  grid-area: 5 / 8 / span 1 / span 2;
}

/* Hiking */
.hiking-img {
  grid-area: 8 / 8 / 17 / -2;
  background-image: url("./images/hiking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
}

.hiking-title {
  grid-area: 8 / 5 / span 1 / span 3;
  justify-self: start;
  align-self: end;
}

.hiking-date {
  grid-area: 9 / 5 / span 1 / span 3;
  justify-self: start;
  align-self: start;
}

.hiking-desc {
  grid-area: 10 / 4 / span 1 / span 4;
}

.hiking-button {
  grid-area: 11 / 4 / span 1 / span 2;
}

/* Footer Styling */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  height: 5vh;
  width: 100%;
  box-shadow: 0px -4px 7px 3px rgba(0,0,0,0.7);
  z-index: 2;
}

@media only screen and (max-width: 600px) { 
  .main {
    position: relative;
    top: 9vh;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 16px;
    border: 2px solid black;
    width: 90vw;
    min-width: 0;
    height: 85vh;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }

  header {
    justify-content: space-between;
  }

  header > h1 {
    font-size: 18px;
    margin-left: 12px;
  }

  .grid-img {
    display: none;
  }

  .grid-text {
    font-size: 1.2rem;
  }

  /* Kayaking */

  .kayak-img {
    grid-area: 2 / 1 / span 7 / span 1;
    box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.7);
  }
  
  .kayak-title {
    grid-area: 2 / 1 / span 1 / 1;
    align-self: end;
    justify-self: end;
    padding-right: 8px;
  }
 
  .kayak-date {
    grid-area: 3 / 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
    padding-right: 8px;
  }

  .kayak-desc {
    justify-self: center;
    display: flex;
    justify-content: center;
    grid-area: 7 / 1 / span 1 / span 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 12px;
    width: 100%;
  }
   
  .kayak-button {
    align-self: end;
    justify-self: end;
    grid-area: 4 / 1 / span 1 / span 2;
  }

  /* hiking */

  .hiking-img {
    grid-area: 9 / 1 / 16 / span 1;
  }
  
  .hiking-title {
    grid-area: 9 / 1 / span 1 / span 1;
    justify-self: start;
    align-self: end;
    color: black;
  }
  
  .hiking-date {
    grid-area: 10 / 1 / span 1 / span 1;
    justify-self: start;
    align-self: start;
    color: black;
  }
  
  .hiking-desc {
    grid-area: 13 / 1 / span 1 / span 1;
    justify-self: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 12px;
    width: 100%;
  }
  
  .hiking-button {
    grid-area: 11 / 1 / span 1 / span 1;
    justify-self: start;
  }
}